
canvas{
    border: 2px solid black;
    background-image: url(images/hell.jpg);
}

#talkBox{
    text-align:left;
    position: relative;
    left: 300px;
    height: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#button{
    text-align:center;
}
#game{
    text-align:center;
    position:relative;
    top:0px;
    left:0px;
}

#hp{
    text-align:center;
    position:relative;
    top:0px;
    left:0px;
}